//====================================================================================================
.page {
   position: relative;
}
.light {
   position: absolute;
   flex-shrink: 0;
   opacity: 0.5;
   filter: blur(196px);
}
.red-light {
   top: toRem(252);
   left: toRem(-97);
   width: toRem(311);
   height: toRem(311);
   border-radius: toRem(311);
   background: #961a1a;
}

.purple-light {
   top: toRem(-200);
   left: toRem(600);
   width: toRem(259);
   height: toRem(259);
   border-radius: toRem(259);
   background: #833ab4;
}
.yellow-light {
   top: toRem(425);
   left: toRem(595);
   width: toRem(280);
   height: toRem(280);
   border-radius: toRem(280);
   background: #fcb045;
}

.purple-boll {
   position: absolute;
   top: 0;
   right: 35%;
   img {
      width: toRem(60);
      height: toRem(60);
   }
}
.yellow-boll {
   position: absolute;
   bottom: -20%;
   left: 45%;
   z-index: -1;
   @media (max-width: $mobile) {
      left: 10%;
      bottom: -60%;
   }
   img {
      width: toRem(48);
      height: toRem(48);
   }
}
.red-boll {
   position: absolute;
   top: toRem(84);
   left: 35%;
   z-index: -1;
   img {
      width: toRem(83);
      height: toRem(83);
   }
}
.red-boll_2 {
   position: absolute;
   bottom: 0;
   right: 38%;

   img {
      width: toRem(28);
      height: toRem(28);
   }
}
//====================================================================================================

.hero {
   padding-top: 210px;
   position: relative;
   // .hero__container
   &__container {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: center;
         gap: toRem(46);
      }
   }
   // .hero__info
   &__info {
      max-width: toRem(362);
      @media (max-width: $mobile) {
         max-width: 100%;
         text-align: center;
      }
   }
   // .hero__title
   &__title {
      font-family: Inter;
      font-size: toRem(48);
      font-weight: 400;
      &:not(:last-child) {
         margin-bottom: toRem(30);
      }
      span {
         font-weight: 900;
         background: linear-gradient(90deg, #fcb045 36.99%, #ff3f78 100%);
         background-clip: text;
         -webkit-text-fill-color: transparent;
      }
   }
   // .hero__text
   &__text {
      font-size: toRem(18);
   }
   // .hero__image
   &__image {
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translate(-50%);
      z-index: -2;
      @media (max-width: $mobile) {
         top: percent(350, 549);
      }
   }
   // .hero__present
   &__present {
   }
   // hero__opacity
   &__opacity {
      top: 0;
      left: 0;
      width: 45%;
      height: toRem(700);
      position: absolute;
      z-index: -1;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      @media (max-width: $tablet) {
         width: 100%;
      }
   }
   //hero__muttons
   &__buttons {
      display: flex;
   }
}
.present {
   max-width: toRem(300);
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   @media (max-width: $mobile) {
      max-width: 100%;
      align-items: center;
   }
   // .present__list
   &__list {
   }
   &__title {
      font-family: Inter;
      font-size: toRem(18);
      font-weight: 700;
      text-align: right;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      background: linear-gradient(90deg, rgba(252, 176, 69, 1) 36.99%, rgba(253, 29, 29, 1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:not(:last-child) {
         margin-bottom: toRem(40);
      }
      span {
         background: $mainColor;
         background-clip: text;
         -webkit-background-clip: text;
         font-weight: 500;
         text-transform: lowercase;
      }
   }
}
.list-present {
   display: grid;
   gap: toRem(30);
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   &:not(:last-child) {
      margin-bottom: toRem(61);
   }
   @media (max-width: $mobile) {
      row-gap: toRem(14);
      column-gap: toRem(10);
   }
   // .list-present__item
   &__item {
   }
   // .list-present__title
   &__title {
      text-align: right;
      font-family: Inter;
      font-size: toRem(18);
      font-weight: 500;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      &:not(:last-child) {
         margin-bottom: toRem(6);
      }
      @media (max-width: $tablet) {
         text-align: left;
         display: flex;
         align-items: center;
         gap: toRem(6);
         &::before {
            content: "";
            width: toRem(18);
            height: toRem(1);
            background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
         }
      }
   }
   // .list-present__text
   &__text {
      text-align: right;
      @media (max-width: $tablet) {
         display: none;
      }
   }
}

.button {
   padding: toRem(21) toRem(34);
   background-color: #4077f3;
   font-family: Inter;
   font-weight: 500;
   transition: all 0.3s;
   @media (any-hover: hover) {
      &:hover {
         background: #4077f3;
         box-shadow: 0px 0px 40px 6px rgba(64, 119, 243, 0.3);
      }
   }
   &_2 {
      background-color: #396adb;
      @media (min-width: $mobile) {
         display: none;
      }
   }
}

//========================================================================================================================================================
.hello {
   padding-top: toRem(320);
   // .hello__container
   &__container {
   }
   // .hello__title
   &__title {
      font-family: Inter;
      font-size: toRem(48);
      font-weight: 400;
      &:not(:last-child) {
         margin-bottom: toRem(70);
      }
   }
   // .hello__content
   &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }
}
.content {
   // .content__owner
   &__owner {
   }
}
.video {
   margin-top: toRem(70);
   @media (max-width: $mobile) {
      order: 2;
   }
   // .video__title
   &__title {
      font-size: toRem(24);
      font-weight: 400;
      max-width: toRem(456);
      span {
         font-weight: 700;
         background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
   }
   // .video__play
   &__play {
      display: flex;
      align-items: flex-end;
      position: relative;
      img {
         @include adaptiveValue("width", 457, 165, 3, $containerWidth, 382);
         @include adaptiveValue("height", 257, 95, 3, $containerWidth, 382);
      }
   }
   // .video__controls
   &__controls {
   }
}
.controls {
   margin-left: toRem(28);
   // .controls__info
   &__info {
      max-width: toRem(171);
      @media (max-width: $tablet) {
         display: none;
      }
   }
   &__button {
      border-radius: 50%;
      border: 1px solid #fff;
      width: toRem(44);
      height: toRem(44);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: toRem(10);
      @media (max-width: $tablet) {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}
.paly-btn {
}
.owner {
   position: relative;
   @media (max-width: $mobile) {
      order: 1;
   }
   // .owner__title
   &__title {
      @include adaptiveValue("font-size", 14, 12);
      position: absolute;
      left: -20%;
      top: 15%;
      max-width: toRem(199);
      @media (max-width: $mobile) {
         left: 100%;
         width: toRem(200);
      }
   }
   // .owner__image
   &__image {
      img {
         width: 100%;
         min-width: toRem(156);
      }
   }
}
